{% extends 'layout.html' %}

{% block content %}
        <section class="header">
            <h1>Kai Tutor</h1>
            <p>Working on a site called societalnews.com, and developing my programming ablities</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="https://cdn.pixabay.com/photo/2020/09/04/12/32/kayak-5543935_1280.jpg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>About Me</h2>
            <p>
                I have worked as a freelance web developer, served in the U.S Navy, and worked in corporate sales. I am a dedicated software developer with a strong commitment to lifelong learning and continuous self-improvement in the field of computer science and developing. I possess expertise in Python, valuing its clear syntax, readability, adherence to best practices (PEP 8, Zen of Python), and extensive ecosystem that supports rapid development across domains such as web services, data science, automation, and machine learning. Alongside this, I have substantial hands-on experience designing, deploying, and maintaining production web applications and platforms, including full-stack development, and real-world projects, I strive to deliver clean, scalable, and maintainable solutions that effectively address complex technical challenges.
            </p>
            <!-- <a href="#"><i class="far fa-file"></i>Resume</a> -->
        </section>
{% endblock %}